<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css" />

        <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
            crossorigin="anonymous"
        ></script>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>web-9045</title>
    </head>
    <body>
        <div class="ui vertical inverted sidebar menu">
            <%if(!currentUser){%>
            <a href="/register" class="item">Sign Up</a>
            <a href="/login" class="item">Log In</a>
            <%}else{%> <%if(currentUser.isAdmin){%>
            <a href="/new" class="item">New Product</a>
            <a href="/placed_orders" class="item">Placed Orders</a>

            <%}%>
            <a href="/cart" class="item">Cart<i class="ui icon shopping cart"></i></a>

            <a href="/logout" class="item">Logout</a>
            <a href="/users/<%=currentUser._id%>" class="item">Signed in as <%=currentUser.username%></a>
            <%}%>
        </div>
        <div class="ui container">
            <%if(errorMessage && errorMessage.length > 0 ){%>
            <div class="ui red message transition pad">
                <i class="close icon"></i>

                <div class=""><%=errorMessage%></div>
            </div>
            <%}%> <%if(successMessage && successMessage.length > 0 ){%>

            <div class="ui message transition pad blue">
                <i class="close icon"></i>

                <div class=""><%=successMessage%></div>
            </div>

            <%}%>
        </div>

        <div class="pusher">
            <div class="ui fixed inverted menu hidden">
                <div class="ui container">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a href="/products" class="item" id="b"><i class="code icon"></i><span id="ss">web-9045</span> </a>
                    <a href="/products#search" class="item">Our Products</a>

                    <%if(!currentUser){%>
                    <a href="/register" class="item right">Sign Up</a>
                    <a href="/login" class="item">Log In</a>
                    <%}else{%> <%if(currentUser.isAdmin){%>
                    <a href="/new" class="item">New Product</a>
                    <a href="/placed_orders" class="item">Placed Orders</a>

                    <%}%>
                    <a href="/cart" class="item"><i class="ui icon shopping cart"></i></a>

                    <a href="/logout" class="item right">Logout</a>
                    <a href="/users/<%=currentUser._id%>" class="item">Signed in as <%=currentUser.username%></a>
                    <%}%>
                </div>
            </div>
            <script>
                $('.message .close').on('click', function () {
                    $(this).closest('.message').transition('fade');
                });
                $('.ui.sidebar').sidebar('attach events', '.toc.item');
            </script>

