<%- include("partials/header")%>
<script src="https://js.stripe.com/v3/"></script>

<div class="ui container main segment">
    <div id="dim" class="ui dimmer inverted">
        <div class="ui loader"></div>
    </div>
    <h2 class="ui header">Cart</h2>
    <div class="ui divided items">
        <% products.forEach(function(product){%> <%if(product.id === null ){%> <%}else{%>
        <div class="item cart" id="<%=product.id._id%>">
            <div class="image">
                <img src="<%=product.id.image.url%>" />
            </div>
            <div class="content">
                <a style="width: 100%" class="header" href="/products/<%=product.id._id%>"
                    ><%=product.id.title%>
                    <span style="float: right">$<%=product.id.price%></span>
                </a>
                <div class="ui sub header">In STOCK</div>
                <div class="description">
                    <p><%=product.id.body.substr(0, 200)%>...</p>
                    <div class="ui checkbox" name="<%=product.id._id%>">
                        <input class="ui checkbox" type="checkbox" tabindex="0" />
                        <label>Select for Purchase</label>
                    </div>
                    <select
                        id="first"
                        name="Quantity<%=product.id._id%>"
                        value="<%=product.quantity%>"
                        style="padding: 0"
                        class="ui selection compact dropdown"
                    >
                        <option name="<%=product.id._id%>" value="<%=product.quantity%>">
                            Qty: <%=product.quantity%>
                        </option>
                        <%for(var i = 1; i<6; i++){%> <%if(i!== product.quantity){%>
                        <option value="<%=i%>">Qty: <%=i%></option>

                        <%}%> <%}%>
                    </select>

                    <a href="products/<%=product.id._id%>/buy" class="blue inverted ui button">
                        <i class="dollar sign icon"></i> Buy Now
                    </a>
                    <button id="delete" name="<%=product.id._id%>" class="red inverted ui button">
                        <i class="trash icon"></i> Delete
                    </button>
                </div>
            </div>
        </div>
        <%}%> <%})%>
    </div>

    <div>
        <%if(products.length < 1){%>
        <h3 class="header ui padded">Your cart is empty, <a href="/products">add some items!!</a></h3>
        <%}%>
    </div>
    <h3 class="header hidden ui padded">Your cart is empty, <a href="/products">add some items!!</a></h3>
    <%if(products.length > 0){%>
    <div id="ch">
        <hr />
        <h3 class="header ui">
            <button id="checkout-button" class="ui large button blue inverted">
                <i class="ui icon shopping cart"></i> Checkout
            </button>
            <span class="right" id="sub" style="vertical-align: middle">
                Subtotal <span id="subtotal"></span> (<span id="numOfProd"></span>)
            </span>
        </h3>
    </div>

    <%}%>
</div>
<span id="variableJSON" hidden> <%= JSON.stringify(products) %> </span>

<script src="cart.js"></script>
<script type="text/javascript">
    $('.ui.dropdown').dropdown();
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe(
        'pk_test_51I4FBXK6TknWrvo2sZ9APKIViiTkKjxdqUVTycQaH7cpisdXHAJmrHEKbRFxKzVpDA3rytQMpT0zukRVSL5Cxywl00anJR5fzW',
    );
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {
        document.querySelector('#dim').classList.add('active');

        var $form = $('<form>', {
            action: '/checkout',
            method: 'post',
        });

        $('<input>')
            .attr({
                type: 'hidden',
                name: 'products',
                value: JSON.stringify(products),
            })
            .appendTo($form);

        $form.appendTo('body').submit();
    });
</script>
<%- include("partials/footer")%>
