<%- include("partials/header")%>
<div class="ui main container">
    <div class="ui top attached segment">
        <h1 id="mega" class="ui huge header">web-9045</h1>

        <div class="ui four special raised stackable doubling cards">
            <%products.forEach(function(product){%>
            <div class="card blue">
                <div class="blurring dimmable image">
                    <div class="ui dimmer">
                        <div class="content">
                            <div class="center">
                                <form action="/products/<%=product._id%>/add" method="POST">
                                    <button href="/products/<%=product._id%>/add" class="inverted ui button fluid">
                                        <i class="shopping cart icon"></i>
                                        Add to Cart
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <img src="<%=product.image.url%>" width="200" height="100" />
                </div>
                <div class="content">
                    <a href="/products/<%=product._id%>/" class="header"><%=product.title%></a>
                    <div class="meta">
                        <span class="date">Price: $<%=product.price%></span>
                    </div>
                    <div class="description"><%=product.body.substring(0, 50)%>...</div>
                </div>
                <div class="extra content">
                    <a href="/products/<%=product._id%>" class="button inverted primary ui">Product Details</a>
                </div>
            </div>

            <%})%>
        </div>
    </div>
</div>
<script>
    $('.special.cards .image').dimmer({
        on: 'hover',
    });
</script>
<%- include("partials/footer")%>
