<%- include("partials/header")%>
<div style="margin-top: 50px;"class="ui container main text segment">
    <div class="ui huge header">

        <%=blog.title %>
    </div>
    <div class="ui top attached">
        <div style="color: #54c8ff"class="color123 ui header ">
            <h4>Submitted by <%= blog.author.username%></h4>
        </div>
        <div class="item">
            <img class="ui centered rounded image" src="<%=blog.image%>">
        </div>
        <div class="content color123">
            <p><%=blog.created.toDateString()%></p>
        </div>
        <div class="description">
            <p><%-blog.body%></p>
        </div>
        <%if(!currentUser){%>

        <%}else{%>
            <%if(currentUser._id.equals(blog.author.id)){%>
                <div class="item">
                    <a href="/blogs" class="button inverted primary ui">Go Back</a>
                    <a href="/blogs/<%=blog._id%>/edit" class="ui inverted yellow button">Edit</a>
                    <form action="/blogs/<%=blog._id%>?_method=DELETE" style="display: inline;"class=""method="POST">
                        <button class="ui inverted red button">Delete</button>
                    </form>
                </div>
            <%}%>
        <%}%>


    </div>
</div>
<div class="ui container text segment">
    <h3>
        Comments
    <a href="/blogs/<%=blog._id%>/comments/new"class="ui button inverted primary  float right" style="float:right; margin-top: -5px">Add a new Comment</a>

    </h3>
    <hr>
    <%blog.comments.forEach(function(comment){%>
        <div class="ui comments">
            <div class="comment">
              
              <div class="content">
                <a class="author"><%=comment.author.username%></a>
                <div class="metadata">
                  <span class="date"><%=comment.created.toDateString()%></span>
                </div>
                <div class="text">
                  <%=comment.text%>
                </div>
                <div class="actions">
                    <%if(!currentUser){%>
                        
                    <%}else{%>
                        <%if(currentUser.username == comment.author.username){%>
                            <a href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/edit" class="edit">Edit</a>
                            <a href="/blogs/<%=blog._id%>/comments/<%=comment._id%>/delete" class="delete">Delete</a>
                        <%}%>
                    <%}%>
                </div>

              </div>
            </div>
            
          </div>
        <div>
        </div>
    <%})%>  
</div>

<%- include("partials/footer")%>


